    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{ site.title }}</h1>
                        <br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br>
                        <p class="intro-text">
                            {{ site.description }}
                        </p>
                            <div id="clockdiv">
                                <div>
                                  <span class="days"></span>
                                  <div class="smalltext">Jours</div>
                                </div>
                                <div>
                                  <span class="hours"></span>
                                  <div class="smalltext">Heures</div>
                                </div>
                                <div>
                                  <span class="minutes"></span>
                                  <div class="smalltext">Minutes</div>
                                </div>
                                <div>
                                  <span class="seconds"></span>
                                  <div class="smalltext">Secondes</div>
                                </div>
                              </div>
                              <br>
                    </div>
                </div>
            </div>
        </div>
    </header>
